* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #393e46;
}

body {
  margin: 0;
  background-color: #eee;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  display: flex;
  width: 100%;
}

.column-7 {
  width: calc(100% / 7);
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.justify-even {
  display: flex;
  justify-content: space-evenly;
}

button {
  border-radius: 5px;
  background-color: #00adb5;
  border: none;
  color: #393e46;
  box-shadow: 5px 5px 5px 0 rgba(170, 216, 211, 0.75);
}

.add-entry-button {
  width: 200px;
  padding: 20px 40px;
  font-size: 20px;
}

.submit-entry {
  padding: 5px 10px;
}

.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-container {
  position: fixed;
  width: 600px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 5px;
  padding: 0 30px;
  background-color: #aad8d3;
}

.hidden {
  display: none;
}

[name="dayOfWeek"] {
  margin-right: 20px;
  margin-top: 0;
}

.user-description {
  margin: 20px 0;
}

.modal-title {
  margin-bottom: 10px;
  color: #393e46;
}

.margin-tb {
  margin: 50px 0;
}

.dayOfWeekBtn {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 20px;
  background-color: #aad8d3;
  color: #393e46;
  box-shadow: 5px 5px 5px 0 rgba(0, 173, 181, 0.75);
}

.title {
  margin-bottom: 0;
}

table {
  width: 100%;
  white-space: pre;
  font-size: 20px;
}

tr {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #aad8d3;
}

th {
  text-align: left;
  background-color: #00adb5;
}

.edit-entry-button {
  padding: 5px 10px;
  font-size: 16px;
  margin: 5px 30px;
  box-shadow: none;
}
